// HEIGHT
@media(max-height: 961px) {
    .landing {
        .landing-slider{
            height: 550px;
            width: 350px;
            .project {
                height: 300px;
                .project-wrapper{
                    .gif {
                        width: 250px;
                        height: 250PX;
                    }
                }
            }
        }
        .message {
            height: 550px;
            width: 350px;
            .main-phone {
                height: 480px;
                .texts {
                    .typing-indicator {
                         top: 340px;   
                         left: 25px;
                    }
                }
            }
            .iphone-top-bar {
                width: 350px;
            }
        }
    }
}


@media(max-height: 580px){
    .nav{
        position: fixed;
    }
    .app-side-bar{
        padding-top: 50px;
        .profile {
            margin-bottom: 0;
            p{ margin-bottom: 0rem;}
        }
        .nav-links a{
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
    }    
}

@media(max-height: 375px){
    .app-side-bar{
        overflow: auto;
        .profile{
            display: none;
        }
        .nav-links{
            padding:0 ;
            a{
                padding-top: 1.25rem;
                padding-bottom: 1.25rem;
            }
        }
    }

   
}
