@media(max-width: 1550px) {
    .main-content {
        .section {
            margin-left: 1rem;
            margin-right: 1rem;
            .section-header {
                margin-left: 0;
            }
        }
    }
}

// WIDTH
@media(max-width: 1270px){
    .burger{ display: block; }
    .nav {
        // justify-content: flex-end;
        justify-content: center;
        .menu {
            display: none;
        }
        .logo {
            // padding-right: 20px;
            margin-right: 0;
            justify-self: center;
            align-self: center;
        }
    }
    .main-content{
        .section {
            margin-left: 3rem;
            margin-right: 3rem;
            .subsection{
                // margin-left: 4rem;
                // margin-right: 4rem;
            }
        }
        .projects {

            .section-header {
                // margin-left: 3rem;
                // margin-right: 3rem;
            }
            // margin-left: 0 !important;
            // margin-right: 0 !important;
            // height: 700px;
            .content {
                .project-container{
                    // margin-left: 3rem;
                    // margin-right: 3rem;
                    .carousel-container {
                        display: block;
                        .card{
                            box-shadow: rgba(50, 50, 93, 0.1) 0px 2px 10px;
                            border-radius: 20px;
                        }
                    }
                    .project-cards{
                        display: none;
                    }

                    .arrows { display: flex;}
                    
                }
            }
        }
    }
}

@media(max-width: 999px){
    .main-content {
        .section {
            margin-left: 3rem;
            margin-right: 3rem;
        }
        .skills{
            .content {
                .skills-specialize {
                    grid-template-columns: 1fr 1fr;
                    column-gap: 20px;
                    align-items: center;
                    justify-content: center;
                    align-self: center;
                    .iconContainer{
                        width: 130px;
                        height: 130px;
                        margin-right: 0;
                        margin-bottom: 20px;
                        &:hover {
                            transform: scale(1);
                        }
                        p{
                            text-align: center;
                            margin-top: 10px;
                            transition: font-size 200ms ease-in;
                        }
                        .icon {
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            font-size: 60px;
                            transition: font-size 250ms ease-in-out;
                        }
                    }
                }
            }
        }
        
    }
}

@media (max-width: 828px){
    .landing {
        .landing-slider{
            height: 500px;
            width:300px;
            .project {
                height: 250px;
                
                .project-wrapper{
                    .gif {
                        width: 200px;
                        height: 200PX;
                    }
                }
            }
        }
        .message {
            height: 500px;
            width: 300px;
            .main-phone {
                height: 430px;
                .texts {
                    .typing-indicator{
                        top: 290px;
                    }
                }
                .bottom{
                    .input{
                        width: 175px;
                    }
                }
            }
            .iphone-top-bar {
                width: 300px;
            }
        }
    }
}


@media (max-width: 700px){
    body::-webkit-scrollbar {
        display: none;
    }

    .main-content {
        .contact {
            .content{
                .buissness-card{
                    width: 400px;
                    height: 200px;
                    padding: 10px;
                    h3, a{
                        font-size: 12px;
                        max-height: 15px;
                    }

                    .top {
                        .school {
                            h3 {
                                &:nth-child(2){
                                    font-size: 8px;
                                }
                            }
                        }
                    }
                    .bottom {
                        h3, a {
                            max-height: fit-content;
                        }
                    }
                }
            }
        }
    }
}


@media(max-width: 570px){
    .landing {
        .landing-slider{
            height: 500px;
            width:300px;
            .project {
                height: 250px;
                .project-wrapper{
                    .gif {
                        width: 200px;
                        height: 200PX;
                    }
                }
            }
        }
        .message {
            height: 500px;
            width: 300px;
            .main-phone {
                height: 430px;
                .bottom{
                    .input{
                        width: 175px;
                    }
                }
                .texts {
                    .typing-indicator {
                         top: 290px;   
                    }
                }
            }
            .iphone-top-bar {
                width: 300px;
            }
        }
    }
    .main-content{
        .contact {
            .content{ 
                .buissness-card{
                    width: 330px;
                    height: 175px;
                    h3, a {
                        font-size: 11px;
                    }

                    .bottom{
                        .social {
                            a{
                                margin-right: px
                            }
                        }
                    }
                }
            }
        }

        .section {
            margin-left: 1rem;
            margin-right: 1rem;
        }
        
        .skills{
            .content{
                .skills-other {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .canvas-container {
                        
                        .canvas{
                            grid-template-columns: 50px 50px 50px 50px;
                            column-gap: 10px;
                            margin-right: 0;
                            .container{
                                .circle{
                                    &:hover {
                                        height: 40px;
                                        width: 40px;
                                    }
            
                                }
                                .open{
                                    height: 130px;
                                    width: 130px;
                                    .icon { font-size: 60px;}
                                    p {
                                        margin-bottom: 0;
                                        opacity: 1;
                                        width: fit-content;
                                        height: fit-content;
                                    }
                                    &:hover {
                                        height: 130px;
                                        width: 130px;
                                    }
            
                                }
                            }
                        }
                    }
                    .legend{
                        margin-top: 50px;
                        width: 180px;
                    }
                 
                }
                .skills-specialize {
                    grid-template-columns: 1fr 1fr;
                    column-gap: 20px;
                    align-items: center;
                    justify-content: center;
                    align-self: center;
                    .iconContainer{
                        width: 130px;
                        height: 130px;
                        margin-right: 0;
                        margin-bottom: 20px;
                        &:hover {
                            transform: scale(1);
                        }
                        p{
                            text-align: center;
                            margin-top: 10px;
                            transition: font-size 200ms ease-in;
                        }
                        .icon {
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            font-size: 60px;
                            transition: font-size 250ms ease-in-out;
                        }
                        
                    }
                }
            }
            
        }
        .projects {
            .section-header {
                margin-left: 1rem;
                margin-right: 1rem;
            }
        }
    }
   
}

@media (max-width: 400px){
    .main-content{
        .contact {
            .content{ 
                .buissness-card{
                    width: 300px;
                    height: 140px;
                    h3, a {
                        font-size: 9px;
                    }
                }
            }
        }
    }
}

@media(max-width: 340px) {
    .landing {
        .landing-slider{
            height: 400px;
            width: 260px;
            .project {
                height: 220px;
                .project-wrapper{
                    .gif {
                        width: 175px;
                        height: 175PX;
                    }
                }
            }
        }
        .message {
            height: 400px;
            width: 260px;
            .main-phone {
                height: 330px;
                .texts {
                    .text{
                        h2{
                            font-size: 14px;
                        }
                    }
                    .typing-indicator {
                        top: 190px;   
                    }
                    
                }
                .bottom{
                    .input {
                        width: 140px
                    }
                }
            }
            .iphone-top-bar {
                width: 260px;
            }
        }
    }

    .main-content{
        .contact {
            .content{ 
                .buissness-card{
                    width: 250px;
                    height: 130px;
                    h3, a {
                        font-size: 8px;
                    }
                }
            }
        }
    }
}


@media (max-height: 375px) {
    .landing {
        .landing-slider{
            height: 300px;
            width:300px;
            .project {
                height: 120px;
                
                .project-wrapper{
                    .gif {
                        width: 100px;
                        height: 100PX;
                    }
                }
            }
        }
        .message {
            height: 300px;
            width: 300px;
            .main-phone {
                height: 230px;
                .bottom{
                    .input{
                        width: 175px;
                    }
                }
                .texts {
                    .typing-indicator {
                         top: 100px;   
                    }
                }
            }
            .iphone-top-bar {
                width: 300px;
            }
        }
    }
}

