@media(max-width: 1550px) {
    .main-content {
        .section {
            margin-left: 1rem;
            margin-right: 1rem;
            .section-header {
                margin-left: 0;
            }
        }
    }
}

// WIDTH
@media(max-width: 1270px){
    .burger{ display: block; }
    .nav {
        // justify-content: flex-end;
        justify-content: center;
        .menu {
            display: none;
        }
        .logo {
            // padding-right: 20px;
            margin-right: 0;
            justify-self: center;
            align-self: center;
        }
    }
    .main-content{
        .section {
            margin-left: 3rem;
            margin-right: 3rem;
            .subsection{
                // margin-left: 4rem;
                // margin-right: 4rem;
            }
        }
        .projects {

            .section-header {
                // margin-left: 3rem;
                // margin-right: 3rem;
            }
            // margin-left: 0 !important;
            // margin-right: 0 !important;
            // height: 700px;
            .content {
                .project-container{
                    // margin-left: 3rem;
                    // margin-right: 3rem;
                    .carousel-container {
                        display: block;
                        .card{
                            box-shadow: rgba(50, 50, 93, 0.1) 0px 2px 10px;
                            border-radius: 20px;
                        }
                    }
                    .project-cards{
                        display: none;
                        // grid-template-columns: repeat(8, 1fr);
                        // grid-template-rows: 1fr;
                        // overflow-y: hidden;
                        // height: 550px;
                        // width: calc(300vw + 300px);
                        // width: 1000px;
                        // padding-right: 10px;
                        // overflow-x: scroll;
                        /* Hide scrollbar for Chrome, Safari and Opera */
                    // &::-webkit-scrollbar {
                    //     display: none;
                    // }
  
                    /* Hide scrollbar for IE, Edge and Firefox */
                        // -ms-overflow-style: none;  /* IE and Edge */
                        // scrollbar-width: none;  /* Firefox */
                        // scroll-behavior: smooth;
                        // overflow-x: auto;
                        // // height: 570px;
                        // justify-items: center;
                        // scroll-snap-type: x mandatory;
                        // .card {
                        //     // transform: scale(0.9);
                        //     scroll-snap-align: center;
                        //     box-shadow: 20px 7px 20px rgba(0,0,0,.16);
                        //     &:hover {
                        //         transform: scale(1);
                        //         box-shadow: 25px 8px 25px rgba(0,0,0,.16);
                        //     }
                        //     &:last-child, &:first-child {
                        //         // background-color: red;
                        //         display: block;
                        //         scroll-snap-align: none;
                        //         justify-self: start;
                        //         align-self: start;
                        //         width: 1px;
                        //         height: 1px;
                        //         // margin-right: 50px;
                        //         opacity: 0;
                        //     }
                        // }

                        // .selected-card {
                        //     transform: scale(1);
                        //     box-shadow: 25px 7px 25px rgba(0,0,0,.16);
                        // }
                    }

                    .arrows { display: flex;}
                    
                }
            }
        }
        // padding-left: 10px;
        // padding-right: 10px;
    }
}

@media (max-width: 1600px) {
    .main-content {
            .projects {
                .content {
                    // .project-container {
                    //     .arrows {
                    //         // display: flex;
                    //     }
                    //     .project-cards {
                    //         // grid-template-columns: 1fr 1fr;
                    //     }
                    // }
                }
            }
    }
}

@media(max-width: 999px){
    .main-content {
        .section {
            margin-left: 3rem;
            margin-right: 3rem;
            .subsection{
                // margin-left: 4rem;
                // margin-right: 4rem;
            }
        }
        .skills{
            .content {
                .skills-specialize {
                    // flex-direction: column;
                    grid-template-columns: 1fr 1fr;
                    column-gap: 20px;
                    align-items: center;
                    justify-content: center;
                    align-self: center;
                    .iconContainer{
                        width: 130px;
                        height: 130px;
                        margin-right: 0;
                        margin-bottom: 20px;
                        &:hover {
                            transform: scale(1);
                            // box-shadow: 5px 25px 25px rgba(0,0,0,.08);
                            // background-color: darken($color: $background-colour, $amount: 10);
                        }
                        // padding: 100px;
                        // width: 100px;
                        // margin-right: 100px;
                        p{
                            // position: relative;
                            // top: -50px;
                            text-align: center;
                            margin-top: 10px;
                            transition: font-size 200ms ease-in;
                        }
                        .icon {
                            // position: relative;
                            // top: -50px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            font-size: 60px;
                            transition: font-size 250ms ease-in-out;
                            
                            
                            // margin-right: 100px;
                            &:hover {
                                // font-size: 110px;
                                // transform: scale(1.1);
                            }
                            &:hover ~ p {
                                // font-size: 1.1rem;
                            }
                        }
                        
                    }
                }
            }
        }
        
    }
}

@media (max-width: 828px){
    .landing {
        .landing-slider{
            height: 500px;
            width:300px;
            .project {
                height: 250px;
                
                .project-wrapper{
                    .gif {
                        width: 200px;
                        height: 200PX;
                    }
                }
            }
        }
        .message {
            height: 500px;
            width: 300px;
            .main-phone {
                height: 430px;
                .texts {
                    .typing-indicator{
                        top: 290px;
                    }
                }
                .bottom{
                    .input{
                        width: 175px;
                    }
                }
            }
            .iphone-top-bar {
                width: 300px;
            }
        }
    }
}


@media (max-width: 700px){
    body::-webkit-scrollbar {
        display: none;
    }

    .main-content {
        .contact {
            .content{
                .buissness-card{
                    width: 300px;
                    height: 200px;
                    padding: 10px;
            h3{
                font-size: 9px;
                max-height: 15px;
            }
                    .top {
                        .school {
                            h3 {
                                margin: 0;
                                &:nth-child(2){
                                    font-size: 8px;
                                }
                            }
                        }
                    }
                    .middle{
                        position: absolute;
                        top: 80px;
                        left: 90px;
                    }
    
                    .bottom {
                        bottom: 20px;
                        width: 280px;                        
                    }
                }
            }
        }
    }
}
@media (max-width: 515px){
    .main-content {
        .projects {
            .content {
                .project-container{
                    // margin-left: 2rem;
                    // margin-right: 2rem;
                }
            }
        }
    }
}

@media(max-width: 570px){
    .landing {
        .landing-slider{
            height: 500px;
            width:300px;
            .project {
                height: 250px;
                .project-wrapper{
                    .gif {
                        width: 200px;
                        height: 200PX;
                    }
                }
            }
        }
        .message {
            height: 500px;
            width: 300px;
            .main-phone {
                height: 430px;
                .bottom{
                    .input{
                        width: 175px;
                    }
                }
                .texts {
                    .typing-indicator {
                         top: 290px;   
                    }
                }
            }
            .iphone-top-bar {
                width: 300px;
            }
        }
    }
    .main-content{
        .education{
            .content{
                .education-item{
                    // width: 90vw;
                }
            }
        }
        .section {
            margin-left: 1rem;
            margin-right: 1rem;
        }
        
        .skills{
            .content{
                .skills-other {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .canvas-container {
                        
                        .canvas{
                            grid-template-columns: 50px 50px 50px 50px;
                            column-gap: 10px;
                            margin-right: 0;
                            .container{
                                .circle{
                                    &:hover {
                                        height: 40px;
                                        width: 40px;
                                    }
            
                                }
                                .open{
                                    height: 130px;
                                    width: 130px;
                                    .icon { font-size: 60px;}
                                    p {
                                        // font-size: 0.65rem;
                                        margin-bottom: 0;
                                        opacity: 1;
                                        width: fit-content;
                                        height: fit-content;
                                    }
                                    &:hover {
                                        height: 130px;
                                        width: 130px;
                                        // height: 60px;
                                        // width: 60px;   
                                    }
            
                                }
                            }
                        }
                    }
                    .legend{
                        margin-top: 50px;
                        width: 180px;
                    }
                 
                }
                .skills-specialize {
                    // flex-direction: column;
                    grid-template-columns: 1fr 1fr;
                    column-gap: 20px;
                    align-items: center;
                    justify-content: center;
                    align-self: center;
                    .iconContainer{
                        width: 130px;
                        height: 130px;
                        margin-right: 0;
                        margin-bottom: 20px;
                        &:hover {
                            transform: scale(1);
                            // box-shadow: 5px 25px 25px rgba(0,0,0,.08);
                            // background-color: darken($color: $background-colour, $amount: 10);
                        }
                        // padding: 100px;
                        // width: 100px;
                        // margin-right: 100px;
                        p{
                            // position: relative;
                            // top: -50px;
                            text-align: center;
                            margin-top: 10px;
                            transition: font-size 200ms ease-in;
                        }
                        .icon {
                            // position: relative;
                            // top: -50px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            font-size: 60px;
                            transition: font-size 250ms ease-in-out;
                            
                            
                            // margin-right: 100px;
                            &:hover {
                                // font-size: 110px;
                                // transform: scale(1.1);
                            }
                            &:hover ~ p {
                                // font-size: 1.1rem;
                            }
                        }
                        
                    }
                }
            }
            
        }
        .projects {
            // margin-left: 0;
            // margin-right: 0;
            // height: 700px;
            .section-header {
                margin-left: 1rem;
                margin-right: 1rem;
            }
            .content {
                .project-container{
                    // margin-left: 10px;
                    // margin-right: 10px;
                }
            }
        }
    }
   
}

@media(max-width: 340px) {
    .landing {
        .landing-slider{
            height: 400px;
            width: 260px;
            .project {
                height: 220px;
                .project-wrapper{
                    .gif {
                        width: 175px;
                        height: 175PX;
                    }
                }
            }
        }
        .message {
            height: 400px;
            width: 260px;
            .main-phone {
                height: 330px;
                .texts {
                    .text{
                        h2{
                            font-size: 14px;
                        }
                    }
                    .typing-indicator {
                        top: 190px;   
                    }
                    
                }
                .bottom{
                    .input {
                        width: 140px
                    }
                }
            }
            .iphone-top-bar {
                width: 260px;
            }
        }
    }

    .main-content{
        .contact {
            .content{
                .buissness-card{
                    width: 255px;
                    height: 165px;
                    padding: 10px;
            h3{
                font-size: 9px;
                max-height: 15px;
            }
                    .top {
                        .school {
                            h3 {
                                margin: 0;
                                &:nth-child(2){
                                    font-size: 8px;
                                }
                            }
                        }
                    }
                    .middle{
                        position: absolute;
                        top: 65px;
                        left: 75px;
                    }
    
                    .bottom {
                        bottom: 20px;
                        width: 235px;                        
                    }
                }
            }
        }
    }
}


@media (max-height: 375px) {
    .landing {
        .landing-slider{
            height: 300px;
            width:300px;
            .project {
                height: 120px;
                
                .project-wrapper{
                    .gif {
                        width: 100px;
                        height: 100PX;
                    }
                }
            }
        }
        .message {
            height: 300px;
            width: 300px;
            .main-phone {
                height: 230px;
                .bottom{
                    .input{
                        width: 175px;
                    }
                }
                .texts {
                    .typing-indicator {
                         top: 100px;   
                    }
                }
            }
            .iphone-top-bar {
                width: 300px;
            }
        }
    }
}

