<div class="section contact">
    <div class="section-header">
        <h2>Contact</h2>
    </div>
    <div class="content">
        <div class="buissness-card hide"
        inViewport
        [inViewportOptions]="{ threshold: [0] }"
        (inViewportAction)="onView($event)"
        [ngClass]="{'show': show}"
        #buissnessCard
        >
            <div class="top">
                <h3><a href="tel:647-786-7706" >647 786 7706</a></h3>
                <div class="school">
                    <h3>Ontario Tech University</h3>
                    <h3>SOFTWARE ENGINEERING</h3>
                </div>
            </div>
            <div class="middle">
                <div class="middle-content">
                    <h3>ANDREW MIKAEEL</h3>
                    <h3>SOFTWARE ENGINEER</h3>
                </div>
            </div>

            <div class="bottom">
                <a href="mailto:andrew.mikaeel1@gmail.com">andrew.mikaeel1@gmail.com</a>
                <div class="social">
                    <a href="./../../../assets/Resume.pdf" target="_blank">Resume</a>
                    <a href="https://github.com/mikandrew53/" target="_blank">GitHub</a>
                    <a href="https://www.linkedin.com/in/andrew-mikaeel-171234141/" target="_blank">LinkedIn</a>
                </div>
            </div>
        </div>
    </div>
</div>
