<div class="section contact">
    <div class="section-header">
        <h2>Contact</h2>
    </div>
    <div class="content">
        <div class="buissness-card">
            <div class="top">
                <h3>647 786 7706</h3>
                <div class="school">
                    <h3>Ontario Tech University</h3>
                    <h3>SOFTWARE ENGINEERING</h3>
                </div>
            </div>
            <div class="middle">
                <div class="middle-content">
                    <h3>ANDREW MIKAEEL</h3>
                    <h3>SOFTWARE ENGINEER</h3>
                </div>
            </div>

            <div class="bottom">
                <h3>andrew.mikaeel@ontariotechu.net</h3>
                <div class="social">
                    <h3>GitHub</h3>
                    <h3>LinkedIn</h3>
                </div>
            </div>
        </div>
    </div>
</div>
