<div class="section about">
    <div class="section-header">
        <h2>About Me</h2>
    </div>
    <div class="content">
        <div class="programming" #programming
        inViewport
        [inViewportOptions]="{ threshold: [0] }"
        (inViewportAction)="animate($event)"
        >    
            <div class="line">
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
            </div>
            <div class="line">
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
            </div>
            <div class="line">
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
            </div>
            <div class="line">
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
            </div>
            <div class="line">
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
            </div>
            <div class="line">
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
            </div>
            <div class="line">
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
            </div>
            <div class="line">
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
            </div>
            <div class="line">
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
            </div>
            <div class="line">
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
            </div>
        </div>
        <div class="description">
            <p>TERMINAL</p>
            <p class="hide" [ngClass]="{'show': show}">Hi, I'm Andrew, I am a software engineering student, interested in the front end side of the web. I am most intersted in building beautiful and elegant web applications. </p>
        </div>
    </div>
</div>
