<div class="section projects">
    <div class="section-header">
        <h2>Projetcs</h2>
    </div>
    <div class="content">
        <div class="project-container hide" [ngClass]="{'show': show}"
        inViewport
        [inViewportOptions]="{ threshold: [0] }"
        (inViewportAction)="onView($event)"
        >
            
             <div class="project-cards" #projectsContainer >
                <a  
                *ngFor="let project of projects; let i = index" 
                id="card-{{i}}" 
                href="{{project.link}}" target="{{project.target}}"  
                [ngClass]="{'live': project.live, 'card': true }"
                (click)="onProjectClick(project.live, $event)">
                    <h3 class="project-title">{{project.title}}</h3>
                    <div class="middle">
                      <p class="project-description">{{project.description}}</p>
                      <div class="project-img">
                        <img src="{{project.img}}" alt="">
                      </div>
                    </div>
                    
                    <div class="card-bottom" *ngIf="project.live">
                        <a href="{{project.link}}"  target="_blank" class="btn">Demo</a>
                        <a href="{{project.github}}" target="_blank" class="btn">GitHub</a>
                      </div>
                    <div class="card-bottom" *ngIf="!project.live">
                      <p>Comming Soon...</p>
                    </div>
                  </a>
            </div> 
            <div class="carousel-container">
                <div class="glide" #glide>
                  <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides carousel" >
                      <!-- <li class="card last-card"></li> -->
                      <a href="{{project.link}}" *ngFor="let project of projects; let i = index;" target="{{project.target}}" [ngClass]="{'live': project.live, 'card': true }" (click)="onProjectClick(project.live, $event)">
                        <li class="glide__slide" >
                          <h3 class="project-title">{{project.title}}</h3>
                          <div class="middle">
                            <p class="project-description">{{project.description}}</p>
                            <div class="project-img">
                              <img src="{{project.img}}" alt="">
                            </div>
                        </div>
                          <!-- <div class="line"></div> -->
                          <div class="card-bottom" *ngIf="project.live">
                            <a href="{{project.link}}" target="_blank" class="btn">Demo</a>
                            <a href="{{project.github}}" target="_blank" class="btn">GitHub</a>
                          </div>
                          <div class="card-bottom" *ngIf="!project.live">
                            <p>Comming Soon...</p>
                          </div>
                        </li>
                      </a>
                      <!-- <li class="card last-card"></li> -->
                    </ul>
                  </div>
                  <div class="glide__arrows arrows">
                    <button class="glide__arrow glide__arrow--left arrow" data-glide-dir="<" (click)="onClick('L')"><mat-icon aria-hidden="false" class="arrow-icon">west</mat-icon></button>
                    <button class="glide__arrow glide__arrow--right arrow" data-glide-dir=">" (click)="onClick('R')"><mat-icon aria-hidden="false" class="arrow-icon">east</mat-icon></button>
              </div>
                </div>
            </div>
              
    </div>
</div>
