<div class="nav">
  <div class="logo" (click)="onLogoClick()">
      <h1>Andrew Mikaeel</h1>
      <div><img src="./../assets/Logo.png" alt=""></div>
  </div>
  <div class="menu">
      <ul class="menu-items">
        <li *ngFor="let menuItem of menu;" (click)="onMenuClick(menuItem, $event, false)" [ngClass]="{'active': menuItem.active, 'noSelect': true}">
        <a href="#" >{{ menuItem.name }}</a>
          </li>
        </ul>
  </div>
</div>
<div class="burger" (click)="toggle()" [ngClass]="{'toggle': navActive}">
  <div class="line1"></div>
  <div class="line2"></div>
</div>
<div class="app-side-bar" [ngClass]="{'nav-active': navActive}">
  <div class="profile" #profile>
    <h3>Andrew Mikaeel</h3>
    <p>Software Engineer</p>
  </div>
  <ul class="nav-links" #navLinks>
    <li *ngFor="let menuItem of menu">
      <a href="#" [ngClass]="{'active': menuItem.active, 'noSelect': true}" (click)="onMenuClick(menuItem, $event, true)">{{ menuItem.name }}</a></li>
  </ul>
</div>
<div class="overlay" (click)="overlayClick()" [ngClass]="{'opacity': navActive}" *ngIf="navActive"></div>
<div class="blur"></div>

<div class="landing" 
    inViewport
    [inViewportOptions]="{ threshold: [0] }"
    (inViewportAction)="inViewPort(0, $event)">
  <div class="landing-overlay"></div>
  <app-projects-landing id="home" (seeProjectsClicked)="goToProjects()"></app-projects-landing>
</div>

<div class="main-content" (click)="bodyClicked()" #content>
  <app-about 
    id="about" 
    inViewport
    [inViewportOptions]="{ threshold: [0] }"
    (inViewportAction)="inViewPort(1, $event)"> 
  </app-about>
  <app-education 
    id="education"
    inViewport
    [inViewportOptions]="{ threshold: [0] }"
    (inViewportAction)="inViewPort(2, $event)"
  >
  </app-education>
  <app-projects 
    id="projects"
    inViewport
    [inViewportOptions]="{ threshold: [0] }"
    (inViewportAction)="inViewPort(3, $event)"
  >
  </app-projects>

  <app-contact 
    id="contact"
    inViewport
    [inViewportOptions]="{ threshold: [0] }"
    (inViewportAction)="inViewPort(4, $event)"
  >
  </app-contact>
</div>